.portfolio-aside {
    width: 16%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #161616;
}

.portfolio-aside h4 {
    font-size: 30px;
    font-weight: 460;
    margin-top: 28px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: #e0e0e0;
}

.portfolio-aside ul li {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    color: #a2c11c;
    height: 40px;
    padding-left: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

#skills-items li, #extras-items li{
    padding-left: 30px;
}

.no-show {
    display: none;
}

.show {
    display: flex;
    flex-direction: column;
}

.aside-item span {
    transition: all 0.3s ease-in;
}

.blue-color {
    color: #2c5d63 !important;
}

.aside-item span.drop-down {
    transform: rotate(90deg);
}

.aside-selected {
    background-color: #0F100F !important;
}

.portfolio-aside ul li:hover {
    background-color: rgb(85, 87, 87);
}

.about-content-section {
    width: 84%;
    height: 100%;
    display: flex;
    justify-content: start;
    overflow-y: scroll;
}

.about-content-section .indent-guide-lines {
    margin-left: 60px !important;
    width: 60px !important;
    padding-top: 50px;
    align-items: start !important;
}

.about-content-section .indent-guide-lines article p {
    width: 60px !important;
}

.about-title {
    font-size: 30px;
    font-weight: 660;
    margin-top: 58px;
    color: #e0e0e0;
    position: relative;
    left: -4px;
}

#about-content {
    margin-left: 0 !important;
    padding-right: 10%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.biography-text {
    width: 82%;
    margin-right: 18%;
}

.biography-text p {
    font-size: 14px;
    margin-left: 20px;
    color: #e0e0e0;
}

.biography-text p:nth-child(1) {
    margin-top: 50px;
}

.about-section-row {
    display: flex;
    flex-direction: row;
}

.about-section-col {
    display: flex;
    flex-direction: column;
}

.about-section-row .about-img {  
    margin-top: 36px;
    margin-left: -4px;
}

.rectangle-img {
    width: 82px;
    height: 60px;
}

.circle-img {
    width: 60px;
    height: 60px;
}

.ml-50 {
    margin-left: 50px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mt-60 {
    margin-top: 60px;
}

.about-section-row .indent-guide-lines {
    margin-left: 0 !important;
}

.about-section-col h2 {
    display: flex;
    align-items: center;
    margin-top: 36px;
    font-size: 18px;
    font-weight: 440;
    height: 60px;
    margin-left: 20px;
    color: #e0e0e0;
}

.about-section-col h4 {
    margin-top: 50px;  
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(92, 92, 92);
    margin-left: -4px;
}

.about-section-row .about-p {
    font-size: 14px;
    color: rgb(92, 92, 92);
    margin-left: 20px;
}

.section-list ul li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-list ul li p, .section-list ul li {
    margin-left: 20px;
    color: rgb(92, 92, 92);
    font-size: 16px;
}

