.portfolio-aside {
    width: 16%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #161616;
}

.portfolio-aside h4 {
    font-size: 30px;
    font-weight: 460;
    margin-top: 28px;
    margin-bottom: 10px;
    margin-left: 10px;
    color: #e0e0e0;
}

.portfolio-aside ul li {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    color: #a2c11c;
    height: 40px;
    padding-left: 10px;
    cursor: pointer;
    transition: all .3s;
}

.aside-selected {
    background-color: #0F100F !important;
}

.portfolio-aside ul li:hover {
    background-color: rgb(85, 87, 87);
}

.about-content-section {
    width: 84%;
    height: 100%;
    display: flex;
    justify-content: start;
}

.about-content-section .indent-guide-lines {
    margin-left: 60px !important;
    width: 60px !important;
    padding-top: 50px;
    align-items: start !important;
}

.about-content-section .indent-guide-lines article p {
    width: 60px !important;
}

.about-title {
    font-size: 30px;
    font-weight: 660;
    margin-top: 58px;
    color: #e0e0e0;
    position: relative;
    left: -4px;
}

#about-content {
    margin-left: 0 !important;
    width: calc(100% - 120px) !important;
    display: flex;
    flex-direction: column;
}

.biography-text {
    width: 82%;
    margin-right: 18%;
}

.biography-text p {
    font-size: 14px;
    margin-left: 20px;
    color: #e0e0e0;
}

.biography-text p:nth-child(1) {
    margin-top: 50px;
}

@media only screen and (min-width: 1760px) {
    .about-content-section section article p {
        height: 30px !important;
    }
}
